.card-container {
  min-width: 350px;
  height: 100px;
  padding: 16px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  .content-container {
    width: 100%;
    height: 100%;

    .statistic-value {
      width: 100%;
      font-size: 40px;
      font-weight: bold;
      margin: 0;
      padding: 0 10px;
    }

    .statistic-title {
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      padding: 0 10px;
    }
  }
  .illustration-container {
    width: 100%;
    height: 100%;

    .illustration-image {
      width: auto;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }
}
