.card-container {
  min-width: 350px;
  max-width: 400px;
  height: 100px;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  padding: 16px;

  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .content-container {
    width: 100%;
    height: 100%;
    flex: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .statistic-value {
      flex: 2;
      width: 100%;
      font-size:42px;
      font-weight: bold;
      color: #ffffff;
      margin: 0;
      padding: 0 10px;

      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .statistic-title {
      flex: 1;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      padding: 0 10px;

      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .illustration-container {
    width: 100%;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .illustration-image {
    width: auto;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
